header{
    background-color: #005CA8;
    box-shadow: 0 3px 8px 0 rgba(0,106,194,0.2);
    width: 100vw;
    height: 72px;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    padding: 0 20px;
}