<div class="row">
    <div class="col">
        <p class="prefe-title">Select Return Type</p>
        <ul class="retrun-type list-unstyled">
            <li>1040 - Individual</li>
            <li>1065 - Partnership</li>
            <li>1120 - Corporation</li>
            <li class="active">1120S - S Corporation</li>
            <li>1041 - Fiduciary</li>
            <li>990 - Exempt Organization</li>
            <li>709 - Gift</li>
            <li>706 - Estate</li>
            <li>After the fact payroll</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <p class="prefe-title">Select jurisdictions</p>
        <ul class="list-unstyled jurisdictions">
            <li class="item1">Federal</li>
            <li class="item">AK</li>
            <li class="item active">al</li>
            <li class="item">ar</li>
            <li class="item">az</li>
            <li class="item">ca</li>
            <li class="item">co</li>
            <li class="item">ct</li>
            <li class="item">dc</li>
            <li class="item">de</li>
            <li class="item">fl</li>
            <li class="item">ga</li>
            <li class="item active">hi</li>
            <li class="item">ia</li>
            <li class="item">id</li>
            <li class="item">il</li>
            <li class="item">in</li>
            <li class="item">ks</li>
            <li class="item">ky</li>
            <li class="item">la</li>
            <li class="item">ma</li>
            <li class="item">md</li>
            <li class="item active">me </li>
            <li class="item">mi</li>
            <li class="item">mn</li>
            <li class="item">mo</li>
            <li class="item">ms</li>
            <li class="item">mt</li>
            <li class="item">nc</li>
            <li class="item">nd</li>
            <li class="item">ne</li>
            <li class="item">nh</li>
            <li class="item">nj</li>
            <li class="item">nm</li>
            <li class="item">nv</li>
            <li class="item">ny</li>
            <li class="item">oh</li>
            <li class="item">ok</li>
            <li class="item">or</li>
            <li class="item">pa </li>
            <li class="item">ri </li>
            <li class="item">sc</li>
            <li class="item">sd</li>
            <li class="item active">tn</li>
            <li class="item">tx</li>
            <li class="item">ut</li>
            <li class="item">va </li>
            <li class="item">vt</li>
            <li class="item">wa </li>
            <li class="item">wu</li>
            <li class="item">wv</li>
            <li class="item">wy</li>
        </ul>
    </div>
</div>