<section class="header">
  <app-header></app-header>
</section>
<div class="middle-section">
  <div class="sidebar-section border-end">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-content">
    <section class="main-section">
      <div class="container-fluid py-3">
        <router-outlet></router-outlet>
        <!-- <app-todo-list></app-todo-list> -->
        <!-- <app-offline-preferences></app-offline-preferences> -->
      </div>
    </section>
    <section class="footer border-top">
      <app-footer></app-footer>
    </section>
  </div>
</div>

