<div class="row align-items-center mb-4">
    <div class="col">
        <h4 class="mb-0">Employee Directory</h4>
    </div>
    <div class="col-auto ms-auto">
        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
            Employee</button>
    </div>
</div>


<div class="card mt-2">
    <div class="card-body p-0">
        <div class="filter-wrap">            
            <div class="filter-icon">
                <i class="bi bi-search"></i>
            </div>
            <div class="search-inner">
                <input class="search-input form-control" type="text" placeholder="Search" [(ngModel)]="empObject.firstName" (ngModelChange)="filterEmp($event)">
            </div>
            <div class="filter-icon">
                <i class="bi bi-x-lg cancel" (click)="clearFilter()" *ngIf="empObject.firstName"></i>
            </div>
            <div class="filter-inner">
                <label class="lbl-filter">Department</label>
                <div class="filter dropdown">
                    <button class="btn btn-secondary dropdown-toggle btn-dropdown" type="button" id="dropdownMenuButton1" [(ngModel)]="departGetData" (ngModelChange)="filterByDepart($event)" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ selectedDepartment }} 
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="" *ngFor="let depart of department"><a class="dropdown-item" (click)="selectedDepartment = depart.value">{{depart.value}}</a></li>
                    </ul>
                </div>
            </div>
            {{departGetData | json}}
            <div class="filter-inner last-filter">
                <label class="lbl-filter">Job Title</label>
                <div class="filter dropdown">
                    <button class="btn btn-secondary dropdown-toggle btn-dropdown" type="button"
                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ selectJobTitle }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li  *ngFor="let title of jobtitle"><a class="dropdown-item" (click)="selectJobTitle = title">{{title}}</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="filter-inner">
                <label class="lbl-filter">Location</label>
                <div class="filter dropdown">
                    <button class="btn btn-secondary dropdown-toggle btn-dropdown" type="button"
                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Location
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li *ngFor="let getLoc of _empService.getDataApi"><a class="dropdown-item" href="">{{getLoc.location}}</a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="w-100 float-left">
    <app-employee-list [employeeData]="employeeData"></app-employee-list>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" name="ef" [formGroup]="empForm">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-label-group">
                                <input type="text" class="form-control" id="firstName"
                                    formControlName="firstName" placeholder="First Name" required autofocus>
                                <label for="firstName">First Name</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-label-group">
                                <input type="text" class="form-control" id="lastName" formControlName="lastName"
                                    placeholder="Last Name" required autofocus>
                                <label for="lastName">Last Name</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-label-group">
                                <input type="text" class="form-control" id="email" formControlName="email"
                                    placeholder="Email" required autofocus>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-label-group">
                                <input type="text" class="form-control" id="mobileNo" formControlName="mobileNo"
                                    placeholder="Mobile No." required autofocus>
                                <label for="mobileNo">Mobile No.</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-label-group">
                                <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth"
                                    placeholder="Date of Birth" required autofocus>
                                <label for="dateOfBirth">Date of Birth</label>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <label class="me-4">Gender</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="male" formControlName="gender" value="male">
                                <label class="form-check-label" for="male">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="female" formControlName="gender" value="female">
                                <label class="form-check-label" for="female">Female</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-label-group form-input-select">
                                <label for="jobTitle">Job Title</label>
                                <select class="form-select border-0" id="jobTitle" formControlName="jobTitle">
                                    <option *ngFor="let title of jobtitle" [value]="title">{{title}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-label-group form-input-select">
                                <label for="Department">Department</label>
                                <select class="form-select border-0" id="Department" formControlName="Department">
                                    <option *ngFor="let depart of department" [value]="depart.key">{{depart.value}}</option>                                    
                                </select>                                
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-label-group">
                                <input type="text" class="form-control" id="bloodGroup" formControlName="bloodGroup"
                                    placeholder="Blood Group" required autofocus>
                                <label for="bloodGroup">Blood Group</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-label-group">
                                <input type="text" class="form-control" id="location" formControlName="location"
                                    placeholder="Location" required autofocus>
                                <label for="location">Location</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-label-group">
                                <input type="text" class="form-control" id="address" formControlName="address"
                                    placeholder="Address" required autofocus>
                                <label for="address">Address</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary w-100" (click)="onSubmit()">Save
                                changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>