/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
@import '../node_modules/ag-grid-community/styles/ag-grid.css';
@import '../node_modules//ag-grid-community/styles/ag-theme-alpine.css';

@import 'bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import './assets/scsss/form-inputs';

:root {
    --bs-btn-bg: #005CA8 !important;
    --grey-text: #a5a5a5;
    --body-bg: #F5F7FA;
    --border-color: #dee2e6;

    --profileclr1: #0093E9;
    --profileclr2: #80D0C7;
    --profileclr3: #FF9A8B;
    --profileclr4: #FF6A88;
    --profileclr5: #21D4FD;
    --profileclr6: #B721FF;
    --profileclr7: #F4D03F;
    --profileclr8: #16A085;
    --profileclr9: #FAACA8;
    --profileclr10: #DDD6F3;
    --profileclr11: #FAD961;
    --profileclr12: #F76B1C;
    --profileclr13: #FF3CAC;
    --profileclr14: #784BA0;
    --profileclr15: #2B86C5;
    --gredient-deg: 132deg;
}

.text-grey {
    color: var(--grey-text);
}

body,
html {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--body-bg);
    height: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.middle-section {
    padding-top: 72px;
    position: relative;
    height: 100%;

    // width: 100vw;
    .sidebar-section {
        position: fixed;
        top: 72px;
        bottom: 0;
        left: 0;
        min-width: 260px;
        height: 100%;
        // background-color: rgb(243, 243, 243);
        background-color: #FFF;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        margin-left: 260px;
        width: calc(100% - 260px);
        height: 100%;
        min-height: calc(100vh - (72px + 42px));
        padding-bottom: 42px;

        .main-section {
            flex: 1;
        }
    }
}

.footer {
    padding: 10px 20px;
    color: var(--border-color);
    position: fixed;
    bottom: 0;
    width: calc(100vw - 260px);
    background-color: var(--body-bg);
    z-index: 99;
}

.header-section {
    position: relative;

    i {
        position: absolute;
        right: 20px;
        top: 5px;
        cursor: pointer;
        padding: 5px;
    }
}

.profile1 {
    background: linear-gradient(var(--gredient-deg), var(--profileclr1), var(--profileclr2));
    color: #FFF;
}

.profile2 {
    background: linear-gradient(var(--gredient-deg), var(--profileclr3), var(--profileclr4));
    color: #FFF;
}

.profile3 {
    background: linear-gradient(var(--gredient-deg), var(--profileclr5), var(--profileclr6));
    color: #FFF;
}

.profile4 {
    background: linear-gradient(var(--gredient-deg), var(--profileclr7), var(--profileclr8));
    color: #FFF;
}

.profile5 {
    background: linear-gradient(var(--gredient-deg), var(--profileclr9), var(--profileclr10));
    color: #FFF;
}

.profile6 {
    background: linear-gradient(var(--gredient-deg), var(--profileclr11), var(--profileclr12));
    color: #FFF;
}

.profile7 {
    background: linear-gradient(var(--gredient-deg), var(--profileclr13), var(--profileclr14), var(--profileclr15));
    color: #FFF;
}

.todoList {
    .task {
        font-size: 16px;
    }
}

.active-link {
    color: #005CA8;
    font-weight: bold;
}

.remove-item-action {
    position: absolute;
    right: 25px;
    bottom: 20px;
}

.mr-btn-round {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
    border: 0;

    i {
        font-size: 30px;
        color: #FFF;
    }

    &.remove-action {
        background-image: linear-gradient(to bottom, #eb3941, #f15e64, #e14e53, #e2373f);
    }
}

.dropdown-menu {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0), 0 8px 10px 1px rgba(0, 0, 0, 0.1), 0 3px 14px 2px rgba(0, 0, 0, 0.1);
    border: 0 !important;
}




// Employee Directory Project Start

.card {
    border-radius: 3px;
}

.filter-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;

    .filter-inner {
        width: 200px;
        padding: 5px 15px;
        box-sizing: border-box;
        border-right: 1px solid rgba(0, 0, 0, 0.175);

        .lbl-filter {
            font-size: 13px;
            color: var(--grey-text);
        }

        .filter {
            width: 100%;

            &.dropdown {
                .btn-dropdown {
                    background: transparent;
                    color: inherit;
                    border: 0;
                    height: 100%;
                    width: 100%;
                    text-align: left;
                    padding: 0;
                }

                .dropdown-menu {
                    width: 200px;
                    transform: translate(-15px, 30px) !important;
                    border-radius: 3px;
                }
            }
        }
    }

    .search-inner {
        flex: 1;
        height: 100%;
        position: relative;

        .search-input {
            border: 0;
            height: 100%;
            padding-left: 0;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .filter-icon {
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 16px;
            color: var(--grey-text);

            &.cancel {
                cursor: pointer;
                font-weight: 600;
            }
        }
    }
}

.employee-list-wrap {
    // border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 3px;
    // overflow: hidden;

    .employee-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .card {
            border-radius: 0;
            width: calc(100% / 6);
            border: 0;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
            cursor: pointer;

            .card-body {
                background-color: #FFF;
            }
        }
    }
}

.emp-img {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid #FFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.175);
    position: relative;

    img {
        max-width: 100%;
    }
}

.emp-profile-initial {
    font-size: 1.75rem;
    letter-spacing: 2px;
    font-weight: 500;
}

.emp-details {
    text-align: center;
    margin-top: 15px;

    .emp-name {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
    }

    .emp-position {
        color: var(--grey-text);
        font-size: 13px;
        margin-bottom: 0;
    }
}

.emp-top-section {
    position: relative;
    max-width: 100px;
    margin: 0 auto;
}

.available {
    width: 16px;
    height: 16px;
    background: #95dd00;
    display: flex;
    position: absolute;
    border-radius: 50%;
    right: 16px;
    border: 2px solid #FFF;
    bottom: 0;
    z-index: 9;
}

.emp-card {
    .emp-details-popover {
        position: absolute;
        right: 0;
        width: 300px;
        transform: translate(299px, -15px);
        z-index: 99;
        background: #FFFF;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.175);
        border: 1px solid rgba(0, 0, 0, 0.175);
        padding: 30px 20px;
        display: none;

        // inset: 0px auto 0px auto;
        &.show {
            display: block;
        }

        .emp-popover-img {
            position: relative;
            margin-bottom: 10px;
            width: 50px;
            height: 50px;

            .available {
                transform: translate(-73px, -5px);
            }
        }

        .emp-more-details {
            display: flex;
            flex-direction: column;

            .small {
                font-size: 12px;
                color: var(--grey-text);
            }

            span:nth-child(2) {
                font-weight: 600;
            }
        }
    }

    &:hover {
        .emp-details-popover {
            display: block;
        }
    }
}


.mr-scroll-y {
    // &.nav-wrap{
    //     height: calc(100% - 60px);
    //     overflow: auto;
    // }
    overflow-y: scroll !important;
    overflow-x: hidden;

    &.mr-scroll {
        &::-webkit-scrollbar {
            background-color: transparent;
            // width: 0px;
            width: 5px;
        }

        // &::-webkit-scrollbar-thumb {
        //     background: #dadce0;
        // }
        &:hover {
            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.25);
                transition: all .5s;
            }
        }

        @media (hover: none) {
            .scrollbox {
                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, 0.15);
                    transition: all .5s;
                }
            }
        }
    }
}